<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (eventContext(); as eventContextRef) {
      <div>
        <h2 data-cy="eventContextDetailsHeading"><span>Event Context</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ eventContextRef.id }}</span>
          </dd>
          <dt><span>Description</span></dt>
          <dd>
            <span>{{ eventContextRef.description }}</span>
          </dd>
          <dt><span>Event Context Status</span></dt>
          <dd>
            <span>{{
              { null: '', AVAILABLE: 'AVAILABLE', FULLY_BOOKED: 'FULLY_BOOKED', CANCELLED: 'CANCELLED' }[
                eventContextRef.eventContextStatus ?? 'null'
              ]
            }}</span>
          </dd>
          <dt><span>Start</span></dt>
          <dd>
            <span>{{ eventContextRef.start | formatMediumDatetime }}</span>
          </dd>
          <dt><span>End</span></dt>
          <dd>
            <span>{{ eventContextRef.end | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Event Context Room</span></dt>
          <dd>
            @if (eventContext()!.eventContextRoom) {
              <div>
                <a [routerLink]="['/room', eventContext()!.eventContextRoom?.id, 'view']">{{ eventContextRef.eventContextRoom?.name }}</a>
              </div>
            }
          </dd>
          <dt><span>Context Host</span></dt>
          <dd>
            @if (eventContext()!.contextHost) {
              <div>
                <a [routerLink]="['/application-user', eventContext()!.contextHost?.id, 'view']"
                  >{{ eventContextRef.contextHost?.appUser?.firstName }} {{ eventContextRef.contextHost?.appUser?.lastName }}</a
                >
              </div>
            }
          </dd>
          <dt><span>Event</span></dt>
          <dd>
            @if (eventContext()!.event) {
              <div>
                <a [routerLink]="['/event', eventContext()!.event?.id, 'view']">{{ eventContextRef.event?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/event-context', eventContextRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
