<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-event-context-heading" data-cy="EventContextCreateUpdateHeading">Create or edit a Event Context</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
          <div *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('description')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_eventContextStatus">Event Context Status</label>
          <select
            class="form-control"
            name="eventContextStatus"
            formControlName="eventContextStatus"
            id="field_eventContextStatus"
            data-cy="eventContextStatus"
          >
            <option [ngValue]="null"></option>
            <option *ngFor="let eventContextStatus of eventContextStatusValues" [value]="eventContextStatus">eventContextStatus</option>
          </select>
          <div
            *ngIf="
              editForm.get('eventContextStatus')!.invalid &&
              (editForm.get('eventContextStatus')!.dirty || editForm.get('eventContextStatus')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('eventContextStatus')?.errors?.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_start">Start</label>
          <div class="d-flex">
            <input
              id="field_start"
              data-cy="start"
              type="datetime-local"
              class="form-control"
              name="start"
              formControlName="start"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('start')!.invalid && (editForm.get('start')!.dirty || editForm.get('start')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('start')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('start')?.errors?.datetimelocal">
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_end">End</label>
          <div class="d-flex">
            <input
              id="field_end"
              data-cy="end"
              type="datetime-local"
              class="form-control"
              name="end"
              formControlName="end"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('end')!.invalid && (editForm.get('end')!.dirty || editForm.get('end')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('end')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('end')?.errors?.datetimelocal">
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_eventContextRoom">Event Context Room</label>
          <select
            class="form-control"
            id="field_eventContextRoom"
            data-cy="eventContextRoom"
            name="eventContextRoom"
            formControlName="eventContextRoom"
            [compareWith]="compareRoom"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="roomOption" *ngFor="let roomOption of roomsSharedCollection">{{ roomOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_contextHost">Context Host</label>
          <select
            class="form-control"
            id="field_contextHost"
            data-cy="contextHost"
            name="contextHost"
            formControlName="contextHost"
            [compareWith]="compareApplicationUser"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="applicationUserOption" *ngFor="let applicationUserOption of applicationUsersSharedCollection">
              {{ applicationUserOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_event">Event</label>
          <select class="form-control" id="field_event" data-cy="event" name="event" formControlName="event" [compareWith]="compareEvent">
            <option [ngValue]="null"></option>
            <option [ngValue]="eventOption" *ngFor="let eventOption of eventsSharedCollection">{{ eventOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
