<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-event-context-heading" data-cy="EventContextCreateUpdateHeading">Create or edit a Event Context</h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div *jhiHasAnyAuthority="'ROLE_ADMIN'">
            <div class="mb-3" >
              <label class="form-label" for="field_id">ID</label>
              <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
            </div>
          </div>
        }

        @let descriptionRef = editForm.get('description')!;
        <div class="mb-3">
          <label class="form-label" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
          @if (descriptionRef.invalid && (descriptionRef.dirty || descriptionRef.touched)) {
            <div>
              @if (editForm.get('description')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        @let eventContextStatusRef = editForm.get('eventContextStatus')!;
        <div class="mb-3">
          <label class="form-label" for="field_eventContextStatus">Event Context Status</label>
          <select
            class="form-control"
            name="eventContextStatus"
            formControlName="eventContextStatus"
            id="field_eventContextStatus"
            data-cy="eventContextStatus"
          >
            @for (eventContextStatus of eventContextStatusValues; track $index) {
              <option [value]="eventContextStatus">
                {{ { null: '', AVAILABLE: 'AVAILABLE', FULLY_BOOKED: 'FULLY_BOOKED', CANCELLED: 'CANCELLED' }[eventContextStatus] }}
              </option>
            }
          </select>
          @if (eventContextStatusRef.invalid && (eventContextStatusRef.dirty || eventContextStatusRef.touched)) {
            <div>
              @if (editForm.get('eventContextStatus')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        @let startRef = editForm.get('start')!;
        <div class="mb-3">
          <label class="form-label" for="field_start">Start</label>
          <div class="d-flex">
            <input
              id="field_start"
              data-cy="start"
              type="datetime-local"
              class="form-control"
              name="start"
              formControlName="start"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (startRef.invalid && (startRef.dirty || startRef.touched)) {
            <div>
              @if (editForm.get('start')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('start')?.errors?.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        @let endRef = editForm.get('end')!;
        <div class="mb-3">
          <label class="form-label" for="field_end">End</label>
          <div class="d-flex">
            <input
              id="field_end"
              data-cy="end"
              type="datetime-local"
              class="form-control"
              name="end"
              formControlName="end"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (endRef.invalid && (endRef.dirty || endRef.touched)) {
            <div>
              @if (editForm.get('end')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('end')?.errors?.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_eventContextRoom">Event Context Room</label>
          <select
            class="form-control"
            id="field_eventContextRoom"
            data-cy="eventContextRoom"
            name="eventContextRoom"
            formControlName="eventContextRoom"
            [compareWith]="compareRoom"
          >
            <option [ngValue]="null"></option>
            @for (roomOption of eventContextRoomsCollection; track $index) {
              <option [ngValue]="roomOption">{{ roomOption.name }}</option>
            }
          </select>
          <div
            *ngIf="
              editForm.get('eventContextRoom')!.invalid &&
              (editForm.get('eventContextRoom')!.dirty || editForm.get('eventContextRoom')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('eventContextRoom')?.errors?.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_contextHost">Context Host</label>
          <select
            class="form-control"
            id="field_contextHost"
            data-cy="contextHost"
            name="contextHost"
            formControlName="contextHost"
            [compareWith]="compareApplicationUser"
          >
            <option [ngValue]="null"></option>
            @for (applicationUserOption of contextHostsCollection; track $index) {
              <option [ngValue]="applicationUserOption">{{ applicationUserOption.appUser?.firstName }} {{ applicationUserOption.appUser?.lastName }} </option>
            }
          </select>
          <div *ngIf="editForm.get('contextHost')!.invalid && (editForm.get('contextHost')!.dirty || editForm.get('contextHost')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('contextHost')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_event">Event</label>
          <select class="form-control" id="field_event" data-cy="event" name="event" formControlName="event" [compareWith]="compareEvent">
            <option [ngValue]="null"></option>
            @for (eventOption of eventsSharedCollection; track $index) {
              <option [ngValue]="eventOption">{{ eventOption.name }}</option>
            }
          </select>
          <div *ngIf="editForm.get('event')!.invalid && (editForm.get('event')!.dirty || editForm.get('event')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('event')?.errors?.required"> This field is required. </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
