<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-room-heading" data-cy="RoomCreateUpdateHeading">Create or edit a Room</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_maxSeats">Max Seats</label>
          <input type="number" class="form-control" name="maxSeats" id="field_maxSeats" data-cy="maxSeats" formControlName="maxSeats" />
          <div *ngIf="editForm.get('maxSeats')!.invalid && (editForm.get('maxSeats')!.dirty || editForm.get('maxSeats')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('maxSeats')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('maxSeats')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_roomEventContext">Room Event Context</label>
          <select
            class="form-control"
            id="field_roomEventContext"
            data-cy="roomEventContext"
            name="roomEventContext"
            formControlName="roomEventContext"
            [compareWith]="compareEventContext"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="eventContextOption" *ngFor="let eventContextOption of eventContextsSharedCollection">
              {{ eventContextOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
