<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="eventRegistration">
      <h2 data-cy="eventRegistrationDetailsHeading"><span>Event Registration</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <div *jhiHasAnyAuthority="'ROLE_ADMIN'">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ eventRegistration.id }}</span>
          </dd>
          <dt><span>Description</span></dt>
        </div>
        <dd>
          <span>{{ eventRegistration.description }}</span>
        </dd>
        <dt><span>Event Registration Status</span></dt>
        <dd>
          <span>{{ eventRegistration.eventRegistrationStatus }}</span>
        </dd>
        <dt><span>Event Counterparty</span></dt>
        <dd>
          <div *ngIf="eventRegistration.eventCounterparty">
            <a [routerLink]="['/application-user', eventRegistration.eventCounterparty.id, 'view']">
              {{ eventRegistration.eventCounterparty.appUser?.firstName }} {{ eventRegistration.eventCounterparty.appUser?.lastName }}
            </a>
          </div>
        </dd>
        <dt><span>Event Context</span></dt>
        <dd>
          <div *ngIf="eventRegistration.eventContext">
            <a [routerLink]="['/event-context', eventRegistration.eventContext.id, 'view']">{{ eventRegistration.eventContext.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/event-registration', eventRegistration.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
