<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-event-registration-heading" data-cy="EventRegistrationCreateUpdateHeading">Create or edit a Event Registration</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div *jhiHasAnyAuthority="'ROLE_ADMIN'">
          <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_eventRegistrationStatus">Event Registration Status</label>
          <select
            class="form-control"
            name="eventRegistrationStatus"
            formControlName="eventRegistrationStatus"
            id="field_eventRegistrationStatus"
            data-cy="eventRegistrationStatus"
          >
            <option [ngValue]="null"></option>
            <option *ngFor="let eventRegistrationStatus of eventRegistrationStatusValues" [value]="eventRegistrationStatus">
              eventRegistrationStatus
            </option>
          </select>
          <div
            *ngIf="
              editForm.get('eventRegistrationStatus')!.invalid &&
              (editForm.get('eventRegistrationStatus')!.dirty || editForm.get('eventRegistrationStatus')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('eventRegistrationStatus')?.errors?.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_eventCounterparty">Event Counterparty</label>
          <select
            class="form-control"
            id="field_eventCounterparty"
            data-cy="eventCounterparty"
            name="eventCounterparty"
            formControlName="eventCounterparty"
            [compareWith]="compareApplicationUser"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="applicationUserOption" *ngFor="let applicationUserOption of applicationUsersSharedCollection">
              {{ applicationUserOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_eventContext">Event Context</label>
          <select
            class="form-control"
            id="field_eventContext"
            data-cy="eventContext"
            name="eventContext"
            formControlName="eventContext"
            [compareWith]="compareEventContext"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="eventContextOption" *ngFor="let eventContextOption of eventContextsSharedCollection">
              {{ eventContextOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
