<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-event-heading" data-cy="EventCreateUpdateHeading">Create or edit a Event</h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let nameRef = editForm.get('name')!;
        <div class="mb-3">
          <label class="form-label" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          @if (nameRef.invalid && (nameRef.dirty || nameRef.touched)) {
            <div>
              @if (editForm.get('name')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        @let eventTypeRef = editForm.get('eventType')!;
        <div class="mb-3">
          <label class="form-label" for="field_eventType">Event Type</label>
          <select class="form-control" name="eventType" formControlName="eventType" id="field_eventType" data-cy="eventType">
            <option [ngValue]="null"></option>
            @for (eventType of eventTypeValues; track $index) {
              <option [value]="eventType">{{ { null: '', CONFERENCE: 'CONFERENCE' }[eventType] }}</option>
            }
          </select>
          @if (eventTypeRef.invalid && (eventTypeRef.dirty || eventTypeRef.touched)) {
            <div>
              @if (editForm.get('eventType')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        @let eventStatusRef = editForm.get('eventStatus')!;
        <div class="mb-3">
          <label class="form-label" for="field_eventStatus">Event Status</label>
          <select class="form-control" name="eventStatus" formControlName="eventStatus" id="field_eventStatus" data-cy="eventStatus">
            <option [ngValue]="null"></option>
            @for (eventStatus of eventStatusValues; track $index) {
              <option [value]="eventStatus">
                {{ { null: '', UNPUBLISHED: 'UNPUBLISHED', PUBLISHED: 'PUBLISHED', CANCELLED: 'CANCELLED' }[eventStatus] }}
              </option>
            }
          </select>
          @if (eventStatusRef.invalid && (eventStatusRef.dirty || eventStatusRef.touched)) {
            <div>
              @if (editForm.get('eventStatus')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_mainHost">Main Host</label>
          <select
            class="form-control"
            id="field_mainHost"
            data-cy="mainHost"
            name="mainHost"
            formControlName="mainHost"
            [compareWith]="compareApplicationUser"
          >
            <option [ngValue]="null"></option>
            @for (applicationUserOption of applicationUsersSharedCollection; track $index) {
              <option [ngValue]="applicationUserOption">
                {{ applicationUserOption.id }} {{ applicationUserOption.appUser?.firstName }} {{ applicationUserOption.appUser?.lastName }}
              </option>
            }
          </select>
          <div *ngIf="editForm.get('mainHost')!.invalid && (editForm.get('mainHost')!.dirty || editForm.get('mainHost')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('mainHost')?.errors?.required"> This field is required. </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
